<html>
	<head>
		<title>Блллоок</title>
	</head>
	<body>
	        <div>
            <h1><a href="/">Django бЛООККК</a></h1>
			</div>
        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>																Aenean eu leo quam. Pellentesque ornare sem lacinia quam 
			venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
	
	
	        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
			</div>
	
	
		<h1>Заголовок</h1>
		<h2>Подзаголовок</h2> 
		<h3>Заголовок третьего уровня</h3>
	
	
	
		<p>Hi, dfh<em>текст</em>ijfdoihfg</p>
		<p>data</p>

		<p>data</p>
		<p>dfhijf<strong>текст</strong>doihfgfj</p>
		<a href="https://djangogirls.org">ПРИКРАТИТКОЛИВЛИ</a>
		<p>h1jghj</p>
		<p>hgh</p>
	</body>
</html>